<div class="box">
	<img
		src="https://img.freepik.com/free-photo/a-cupcake-with-a-strawberry-on-top-and-a-strawberry-on-the-top_1340-35087.jpg"
		alt="">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil numquam dignissimos mollitia, autem vero fugit
		facilis repellat architecto sed repellendus eius quas nostrum voluptate dolor nesciunt pariatur rerum, cum, ab ex
		tempore ratione id tempora rem? Id, temporibus inventore, ut magnam incidunt adipisci nostrum mollitia ipsum nam
		provident recusandae? Tenetur quos a animi cum praesentium voluptas corrupti distinctio, at nemo minima similique
		vero maxime eius qui quo tempore eveniet nobis explicabo autem, facere repudiandae totam aliquam dolores
		blanditiis? Dolorem, facilis expedita ratione officiis, repellat cum debitis, a labore qui aliquid omnis! Repellat
		earum, laboriosam consectetur libero cupiditate aliquam nisi, quod voluptate eaque dolorem accusamus alias
		inventore corporis porro maiores dolore vel voluptatum praesentium vitae nesciunt magnam illum! Inventore adipisci
		minus, recusandae eligendi neque voluptate soluta perferendis aut nulla iusto beatae hic tenetur suscipit ea id
		ipsa assumenda nisi dicta nobis quos cumque mollitia! Ex deserunt quod sit debitis, eius voluptas sint obcaecati
		hic laborum animi illum impedit. Voluptatem odit tenetur, cumque magnam pariatur corporis ducimus dicta ipsa qui,
		est expedita doloribus quisquam provident. Non hic neque quidem exercitationem at beatae modi unde possimus
		expedita eum aspernatur tenetur architecto voluptatum odit soluta cupiditate vero totam laboriosam dolor esse,
		labore a repellendus.
	</p>
</div>