<!-- <form action="">
	<input [(ngModel)]="title">
	<input type="submit">
</form>
{{title}} -->

<div class="text">
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum aspernatur aperiam quis pariatur magni consequuntur
	voluptate, repellendus minima alias doloremque placeat dolor. Veniam eveniet soluta officiis dolore autem reiciendis
	praesentium quam consectetur eaque nisi, ut facere perspiciatis aliquid. Soluta, ipsam impedit quisquam sapiente
	tempore sint rem? Ducimus quo voluptatum eligendi accusantium architecto quas obcaecati reiciendis soluta incidunt
	amet. Saepe error tempora repellendus earum repudiandae facere consequuntur dolores tenetur maxime eveniet illo
	aperiam sapiente quisquam consectetur, omnis atque sint, dolorum possimus veritatis vitae veniam voluptatum minima!
	Odit optio cumque soluta sequi beatae dolorum placeat, hic dolore fugiat, autem ab reiciendis ratione libero illum
	repudiandae eos nisi qui eius rem. Voluptas aliquam eos sapiente veniam ab voluptates earum hic quisquam unde atque
	recusandae, obcaecati cum iusto harum est quasi minus nam ut reiciendis error eveniet corrupti natus! Commodi
	perspiciatis ratione sequi beatae fuga nostrum molestiae voluptatem saepe sed neque! Iure deserunt officia minus
	iusto, neque ullam atque itaque officiis libero aperiam provident nesciunt minima quaerat delectus repudiandae
	laborum enim quam optio voluptates eveniet. Quae perspiciatis asperiores itaque iusto praesentium delectus ipsam
	sapiente. Soluta, eum fugiat rem quis nam maiores doloribus, eveniet debitis illo quia a veritatis. Quaerat facilis
	vel quae reiciendis? Harum!
</div>