<!-- <app-header></app-header>
<button on-click="up()">up</button>
<button on-click="down()">down</button>
{{counter}}
<div class="boxes">
  <button on-click="add()">ADD</button>
  <button on-click="remove()">REMOVE</button>
  <div *ngFor="let i of square">
    <div class="box" [style="background-color] = i.color;">
    </div>
  </div>
</div>
<router-outlet /> -->

<h3>Название сайта</h3>
<menu>
  <a routerLink="/header">
    header
  </a>
  <a routerLink="/home">
    home
  </a>
  <a routerLink="/contacts">
    contacts
  </a>
</menu>
<router-outlet />